{% extends "pages/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<article>
<h1>Create an account</h1>
<section>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <ul class="errorlist">
            {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
    {% if form.non_field_errors %}
    <ul class="errorlist">
        {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
    {% endif %}
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{% url 'account_login' %}">Log in</a></p>
</section>
</article>
{% endblock %}
